{% extends 'base.html' %}

{% block content %}

<h1>Database onderzoek</h1>
<p>Alle rijen in de tabel <b>{{ table_name }}</b>:</p>
<table>
    <thead>
        <tr>
            {% for column in columns %}
            <th>{{ column }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for field in row %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
    
</table>

{% endblock %}

